@use "index";


.nav {
  position: fixed;
  overflow-y: hidden;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.85);
  color: index.$font-headers-light;

  transition: background-color .36s cubic-bezier(0.32, 0.08, 0.24, 1),
  height .56s cubic-bezier(0.52, 0.16, 0.24, 1);

}

.nav.active {
  background-color: black;
  height: 100%;
  overflow: hidden;
  border-bottom: 1px solid index.$border-color;
  z-index: 100;
}


.initial-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0 1rem;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  border-bottom: 1px solid index.$border-color;

  .logo {
    font-size: index.$font-600;
  }
}

.properties {
  display: block;
  position: absolute;
  z-index: 5;
  top: 3.5em;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2.5rem 2rem 0.5rem;
  height: auto;
  overflow-y: hidden;
  transition: overflow-y 0s linear .5s;

}

.scroll {
  overflow-y: auto;
  visibility: visible;

}

.properties-item-container {
  width: min(100%, 35em);
  margin: 0 auto;

  display: block;
  padding: 0.75rem 0;
  border-bottom: 1px solid index.$border-color;
  font-size: index.$font-500;
}

.bag {
  padding: 1rem;
  transition: transform 0.36s cubic-bezier(0.54, 0.12, 0.88, 0.64),
  opacity 0.3s cubic-bezier(0.32, 0.08, 0.24, 1),
  visibility 0.3s linear,
  -webkit-transform 0.36s cubic-bezier(0.54, 0.12, 0.88, 0.64);
}

.hide {
  opacity: 0;
  visibility: hidden;
  transform: translateY(8px);

}


/* Burger animation*/
.burger {
  padding: 1rem;
}

.menu-btn {
  /*padding: 1rem;*/
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  //border: 1px solid #fff;
}

.menu-btn__burger {
  width: 20px;
  height: 2px;
  background: #fff;
  /*border-radius: 5px;*/
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background: #fff;
  /*border-radius: 5px;*/
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .3s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-6px);
}

.menu-btn__burger::after {
  transform: translateY(6px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-17px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(12px, -12px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(12px, 12px);
}

//dropdown
.dropdown {
  position: relative;
  //z-index: 100;
  width: 100%;
}

.dropdown-btn{
  background-color: inherit;
  border: none;
  outline: none;
  color: white;
  font-size: index.$font-500;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  z-index: 100;
  width: 100%;
  top: calc(100% + .75rem);
  background-color: gray;
  padding: .75rem;
  border-radius: 6px;
  //box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
  transition: transform 0.2s cubic-bezier(0.54, 0.12, 0.88, 0.64),
  opacity 0.2s linear
}

.dropdown.active > .dropdown-btn + .dropdown-menu {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.dropdown-menu .chrome-picker{
  margin-top: 1rem;
  width: 200px!important;
  //border-radius: 6px!important;
  &:first-child{
    //border-radius: 6px!important;

  }
}


